body {
  margin: 0;
}

.editorpage {
  display: flex;
  height: 100vh;
}

.logo *{
  text-align: center;
  margin: 0;
}

.logo
{
  margin-top: 7px;
}

.sidebar {
  height: 100vh;
  width: 13%;
  padding: 0px 15px;
  border-right: 1px solid #393E46;
}

.connectedlist {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.copy {
  background-color: #222831;
  border: none;
  color: #EEEEEE;
  margin: 0;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}

.leave {
  margin-top: 20px;
  padding: 5px 25px;
  border: none;
  border-radius: 7px;
  background-color: #00ADB5;
  color: #222831;
  font-weight: 700;
  cursor: pointer;
}

.sidebarcomps {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
}

.editor {
  background-color: #393E46;
  width: 87%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}

.typecode {
  border-right: 1px solid #EEEEEE;
  height: 100%;
  overflow: hidden;
}

.editorcomp {
  height: calc(100% - 60px); 
  padding: 0;
  margin: 0;
}

.input-output {
  display: flex;
  flex-direction: column;
}

.input, .output {
  flex: 1;
  overflow: hidden;
}

.header {
  background-color: #222831;
  padding: 20px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
}

.editor-header p {
  margin: 0;
}

.input-p, .output-p {
  margin: 2.5px 0;
}

.editor-header-comps input {
  margin: 0;
  padding: 0;
}

.editor-header-comps {
  display: flex;
  gap: 20px;
}

.runcode {
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  background-color: #00ADB5;
  color: #222831;
  font-weight: 700;
  cursor: pointer;
}

.language {
  width: 131px;
  height: 26px;
  border: none;
  border-radius: 7px;
}

input:focus, textarea:focus, select:focus {
  border: none !important;
  outline: none !important;
}

.input-contents, .output-contents {
  display: flex;
  height: 100%;
  width: 100%;
}

textarea {
  flex: 1;
  resize: none; 
  overflow: auto; 
  border: none;
  background-color: #1e1e1e;
  caret-color: #EEEEEE;
  font-size: 18px;
  color: #EEEEEE;
}

.input textarea {
  height: 100%;
}

.output textarea {
  height: 100%;
}

.loader-container
{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea::placeholder
{
  color: #BBBBBB;
}

.user
{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}