.editorpage
{
  display: flex;
  height: 100vh;
}

.logo
{
  text-align: center;
}

.sidebar
{
  height: 100vh;
  width: 13%;
  padding: 0px 15px;
  border-right: 1px solid #393E46;
}

.connectedlist
{
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.copy
{
  background-color: #222831;
  border: none;
  color: #EEEEEE;
  margin: 0;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
}

.leave
{
  margin-top: 20px;
  padding: 5px 25px;
  border: none;
  border-radius: 7px;
  background-color: #00ADB5;
  color: #222831;
  font-weight: 700;
  cursor: pointer;
}

.sidebarcomps
{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.btns
{
  display: flex;
  flex-direction: column;
}

.editor
{
  background-color: #393E46;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}

.typecode
{
  border-right: 1px solid #EEEEEE;
}

.input-output
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
}

.header
{
  background-color: #222831; 
  padding: 20px;
}

.editor-header
{
  display: flex;
  justify-content: space-between;
}

.editor-header p
{
  margin: 0;
}

.input-p,.output-p
{
  margin: 2.5px 0px 2.5px 0px;
}

.editor-header-comps input
{
  margin: 0;
  padding: 0;
}

.editor-header-comps
{
  display: flex;
  gap: 20px;
}

.runcode
{
  padding: 5px 20px;
  border: none;
  border-radius: 7px;
  background-color: #00ADB5;
  color: #222831;
  font-weight: 700;
  cursor: pointer;
}